@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: max(100svh, 410px);
  width: max(100%, 250px);
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-mc-mr);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--color-hover);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-keyboard);
}

@media screen and (max-width: 1024px) {
  .xhaide {
    display: none !important;
  }
  .keyboardCalculator {
    grid-template-columns: repeat(4, auto) !important;
    grid-template-rows: repeat(6, 1fr) !important;
    gap: 2.5px;
  }
  .caloperator1 {
    order: -4;
  }
  .caloperator2 {
    order: -1;
  }
  .caloperator3 {
    order: -2;
  }
  .caloperator4 {
    order: -3;
  }
  .mline {
    width: 70% !important;
  }
  .m3 {
    color: rgba(103, 103, 103, 0.378);
    display: none !important;
  }
}
@media screen and (min-width: 500px) {
  .m3 {
    color: rgba(103, 103, 103, 0.378);
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .m3 {
    display: flex !important;
  }
  .history {
    display: none !important;
  }
  .mline {
    width: 100% !important;
  }
}
html {
  /* Define the CSS variables using the container map */
  --color-container: rgb(198, 198, 198);
  --color-keyboard: rgba(206, 206, 206, 0.8196078431);
  --color-numbersKeybord: rgba(220, 220, 220, 0.8941176471);
  --color-mc-mr: rgba(111, 111, 111, 0.747);
  --clolor-namber: #000000;
  --font-family: sans-serif;
  --color-Letters: #000000;
  --radius: 5px;
  --color-hover: rgba(159, 158, 158, 0.4901960784);
  --line-color: rgb(255, 128, 0);
}

/* Define each theme using the corresponding map */
[data-theme=black] {
  --color-container: #171313;
  --color-keyboard: rgba(113, 113, 113, 0.6745098039);
  --color-numbersKeybord: rgba(48, 48, 48, 0.9529411765);
  --color-Letters: #d1d1d1;
  --color-mc-mr: #c37c30;
  --color-hover: rgb(255, 134, 35);
  --line-color: rgb(255, 127, 23);
  --radius: 500px 100px;
  --font-family: Solway;
  --coler-result: #acacac;
  --coler-mline: #a0a0a0;
}

[data-theme=blue] {
  --color-container: #bcdefb;
  --color-keyboard: #4fb3f6;
  --color-numbersKeybord: rgba(111, 208, 249, 0.8980392157);
  --color-Letters: #002a4b;
  --line-color: rgb(4, 84, 135);
  --color-hover: #418ac6;
  --color-mc-mr: #014469;
  --radius: 50px 0;
  --font-family: Merriweather;
}

[data-theme=purple] {
  --color-container: #bd95ff;
  --color-keyboard: #8254f7;
  --color-numbersKeybord: rgba(154, 121, 253, 0.8470588235);
  --line-color: #333456;
  --color-hover: rgba(81, 28, 180, 0.7607843137);
  --color-mc-mr: rgb(68, 59, 80);
  --color-font: rgb(46, 30, 70);
  --radius: 1px 600px;
  --font-family: Roboto Slab;
  --color-Letters: #060930;
}

[data-theme=green] {
  --line-color: #495579;
  --color-container: #BBD6B8;
  --color-keyboard: #94AF9F;
  --color-numbersKeybord: #AEC2B6;
  --color-hover: #DBE4C6;
  --color-mc-mr: #539165;
  --radius: 15px;
  --font-family:  monospace;
  --color-Letters: #003e20;
}

.container-original {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  height: 25px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-container);
}
.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div.headerText {
  color: var(--color-Letters);
  font-size: 15px;
  font-family: var(--font-family);
  margin-left: 10px;
}

.window {
  color: var(--color-Letters);
}
.window div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 38px;
}
.window .close:hover {
  background: rgb(255, 0, 0);
  color: var(--color-Letters);
}
.window .max:hover,
.window .min:hover {
  background: var(--color-hover);
}

.containerleft {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 50px 0.2fr 0.1fr 1fr;
  flex: 6.5;
}
.containerleft .original-menu-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--color-Letters);
  font-size: 15.25px;
}
.containerleft .original-menu-bar div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row-reverse nowrap;
  margin-right: 0.1%;
}
.containerleft .original-menu-bar div:hover {
  background-color: var(--color-hover);
  border-radius: var(--radius);
}
.containerleft .original-menu-bar .burger {
  padding: 9px;
  margin-left: 0.25%;
}
.containerleft .original-menu-bar img {
  width: 23px;
  height: 23px;
  margin-left: 1.55%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 380%;
  font-weight: 650;
  padding-right: 30px;
  color: var(--coler-result);
}

.boxResult {
  display: flex;
  padding: 10px;
  font-size: 18px;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-end;
  color: var(--color-Letters);
}

.mline {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.mline div {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}
.mline div.activate:hover {
  background: var(--color-hover);
}

.activate {
  color: var(--coler-mline);
}

.deactivate-toggle {
  color: var(--color-mc-mr);
}

.keyboardCalculator {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 25px;
  grid-gap: 2px;
  color: var(--color-Letters);
}
.keyboardCalculator div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border-radius: var(--radius);
}
.keyboardCalculator div:hover {
  background: var(--color-hover);
}

#containerMemory {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 67.5%;
  border-radius: 10px;
}

.number {
  background: var(--color-numbersKeybord);
  font-size: var(--font-size);
}

.caloperator {
  background: var(--color-keyboard);
}

#backspace {
  font-size: large;
}

#divide,
#point {
  font-size: xx-large;
}

#mines {
  font-size: x-large;
}

.history {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-container);
  color: var(--color-Letters);
}
.history #history-memory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
}
.history #history-memory p {
  justify-self: center;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  font-size: 103%;
}

.underline-active {
  border-bottom: 2px solid var(--line-color);
}

#history-msg {
  overflow: auto;
  height: 86%;
  padding: 5px;
  font-size: 96%;
}

.historyTemp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-Letters);
  padding-right: 20px;
  font-size: 17px;
}

.historyNumber {
  display: flex;
  justify-content: flex-end;
  padding-right: 28px;
  padding-top: 9px;
  font-size: 30px;
}

.active-history {
  display: block;
}

.deactivate-history {
  display: none;
}

.deactivate-memory {
  display: none;
}

.active-memory {
  display: block;
}

.memoryNumber {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.spnMemory {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-container);
}

.memoryNumber button {
  border: none;
  font-size: 12px;
  padding: 12px;
  background-color: var(--color-container);
  color: var(--color-Letters);
}

.NumberM {
  display: flex;
  font-size: 20px;
  padding: 9px;
  font-weight: bold;
  justify-content: flex-end;
}

.material-symbols-outlined {
  position: absolute;
  bottom: 0;
  right: 5px;
  bottom: 5px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--color-Letters);
}

.caloperator1,
.caloperator2,
.caloperator3,
.caloperator4 {
  background-color: var(--color-keyboard);
}

.main-container-calculator {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-container);
  font-family: var(--font-family);
}

.main {
  height: 100%;
}/*# sourceMappingURL=StyleSass.css.map */