@media screen and (min-width: 1024px)

.xhaide
    display: none !important



@media screen and (max-width: 720px)

.xhaide
    display: none !important

.container-original
    grid-template-columns: 70% 30%

@media screen and (max-width: 500px)

.xhaide
    display: none !important

.original-menu-bar i
    display: flex
    width: 40px
    height: 30px
    font-size: 20px

.m3
    display: flex !important

.main img
    margin-left: 3%

.mline
    height: 8%
    width: 100%

.material-symbols-outlined
    display: none !important
