@media screen and (max-width: 1024px) {
    .xhaide {
        display: none !important;
    }

    .keyboardCalculator {
        grid-template-columns: repeat(4, auto) !important;
        grid-template-rows: repeat(6, 1fr) !important;
        gap: 2.5px;
    }

    .caloperator1 {
        order: -4;
    }

    .caloperator2 {
        order: -1;
    }

    .caloperator3 {
        order: -2;
    }

    .caloperator4 {
        order: -3;
    }

    .mline {
        width: 70% !important;
    }

    .m3 {
        color: rgba(103, 103, 103, 0.378);
        display: none !important;
    }
}

@media screen and (min-width: 500px) {
    .m3 {
        color: rgba(103, 103, 103, 0.378);
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .m3 {
        display: flex !important;
    }

    .history {
        display: none !important;
    }

    .mline {
        width: 100% !important;
    }

}