/* ----------------Theme---------------- */

:root[data-theme="theme-container"] {
  --color-container: rgba(210, 210, 210, 0.913);
  --color-keyboard: #dbdbdbcc;
  --clolor-namber: #eeececa4;
  --color-hover: #9494948d;
  --color-mc-mr: rgba(111, 111, 111, 0.618);
  --font-family: "Noto Sans", sans-serif;
}

:root[data-theme="black"] {
  --color-container: #121212;
  --color-keyboard: #717171ac;
  --clolor-namber: #303030f3;
  --color-mc-mr: order;
  --color-hover: #ff9900f9;
  --color-font: rgba(255, 255, 255, 0.807);
  --radius: 500px 100px;
  --font-family: 'Solway', serif;
}

:root[data-theme="blue"] {
  --color-container: #bcdefb;
  --color-keyboard: #4fb3f6;
  --clolor-namber: #6fd0f9e5;
  --color-hover: #0866ea;
  --color-mc-mr: #004f79;
  --color-font: #111525;
  --radius: 40px 0;
  --font-family: Lucida Sans Unicode, 'Lucida Sans';
}

:root[data-theme="purple"] {
  --color-container: #c2abe7;
  --color-keyboard: #8a47fc;
  --clolor-namber: #9a79fdd8;
  --color-hover: #492180b4;
  --color-mc-mr: rgb(68, 59, 80);
  --color-font: rgb(46, 30, 70);
  --radius: 1px 600px;
  --font-family: Arial, sans-serif;
}

:root[data-theme="green"] {
  --color-container: rgba(212, 251, 94, 0.938);
  --color-keyboard: #79d10e;
  --clolor-namber: #aae740e5;
  --color-hover: #15520a9a;
  --color-mc-mr: rgb(19, 73, 19);
  --radius: 15px;
  --font-family: ' serif';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* cursor: default; */
  font-family: var(--font-family);
  color: var(--color-font);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-container);
}

.container-original {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  height: 45px;
  flex-direction: row;
  justify-content: space-between;
  background: var(--color-container);
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: 90%;
  padding: 12px;
  font-family: "Noto Sans", sans-serif;
}

.window div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 60px;
}

.close:hover {
  background: red;
  color: white;
}

.max:hover {
  background: var(--color-hover);
}

.min:hover {
  background: var(--color-hover);
}

.main {
  /* border: 1px solid red; */
  display: grid;
  height: 95%;
  grid-template-columns: 69% minmax(29%, 320px);
}

.containerleft {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--color-container);
}

.original-menu-bar {
  height: 65px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.original-menu-bar div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: small;
  flex-flow: row-reverse nowrap;
}

.original-menu-bar i {
  margin-left: auto;
  height: 20px;
  padding: auto;
  font-size: large;
  display: none;
}

.original-menu-bar img {
  width: 19px;
  height: 19px;
  margin-left: 1.15%;
}

.caloperator4 img {
  width: 52%;
  height: 48%;
  margin-left: 5px;
}

.original-menu-bar div:hover {
  background-color: var(--color-hover);
}

.burger {
  padding: 7px;
  border-radius: var(--radius);
}

.burger img {
  width: 25px;
  height: 25px;
}

.standard {
  padding: 0 1% 0 1%;
  font-size: 20px;
  font-weight: 100;
  font-family: var(--font-family);
  margin-left: 0.25%;
}

.logo {
  padding: 0.5% 1%;
}

.result {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 350%;
  font-weight: 600;
  padding-right: 20px;
}

.boxResult {
  display: flex;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-end;
  color: rgb(136, 136, 136);
}

.mline {
  height: 8%;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.mline div {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

.activate:hover {
  background: var(--color-hover);
}

.deactivate-toggle {
  color: var(--color-mc-mr);
}

.m3 {
  color: rgba(103, 103, 103, 0.378);
  display: none !important;
}

.keyboardCalculator {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  /* width: 100%; */
  height: 80%;
  gap: 2.5px;
}

.keyboardCalculator div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  font-size: x-large;
}

.keyboardCalculator div:hover {
  background: var(--color-hover);
}

#containerMemory {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 67.5%;
  background-color: var(--color-container);
  border: 2px solid var(--color-hover);
  border-radius: 10px;
}

.number {
  background: var(--clolor-namber);
  font-weight: bold;
}

.caloperator {
  background: var(--color-keyboard);
}

#backspace {
  font-size: large;
}

#divide,
#point {
  font-size: xx-large;
}

#mines {
  font-size: x-large;
}

#history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-container);
  font-family: var(--font-family);
  color: var(--color-font);
}

#history-memory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
}

#history-memory p {
  justify-self: center;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  font-size: 103%;
  font-family: var(--font-family);
  color: var(--color-font);
}

.history-memory-active {
  border-bottom: 2px solid rgb(255, 106, 0);
}

#history-msg {
  overflow: auto;
  height: 86%;
  padding: 5px;
  font-family: var(--font-family);
  font-size: 96%;
}

.historyTemp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(136, 136, 136);
  padding-right: 20px;
  font-size: 17px;
}

.historyNumber {
  display: flex;
  justify-content: flex-end;
  color: var(--color-font);
  padding-right: 28px;
  padding-top: 9px;
  font-size: 30px;
}

.active-history {
  display: block;
}

.deactivate-history {
  display: none;
}

.deactivate-memory {
  display: none;
}

.active-memory {
  display: block;
}

.memoryNumber {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.spnMemory {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.memoryNumber spn {
  font-size: 12px;
  padding: 12px;
}

.NumberM {
  display: flex;
  font-size: 20px;
  padding: 9px;
  font-weight: bold;
  justify-content: flex-end;
}

.material-symbols-outlined {
  position: absolute;
  bottom: 0;
  right: 5px;
  bottom: 5px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 1054px) {
  .xhaide {
    display: none !important;
  }

  .keyboardCalculator {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5px;
  }

  .caloperator1 {
    order: -4;
  }

  .caloperator2 {
    order: -1;
  }

  .caloperator3 {
    order: -2;
  }

  .caloperator4 {
    order: -3;
  }

  .mline {
    height: 8%;
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .xhaide {
    display: none !important;
  }

  .container-original {
    grid-template-columns: 70% 30%;
  }
}

@media screen and (max-width: 500px) {
  .xhaide {
    display: none !important;
  }

  .original-menu-bar i {
    display: flex;
    width: 40px;
    height: 30px;
    font-size: 20px;
  }

  .m3 {
    display: flex !important;
  }

  .main {
    width: 145%;
  }

  .main img {
    margin-left: 3%;
  }

  .mline {
    height: 8%;
    width: 100%;
  }

  .material-symbols-outlined {
    display: none !important;
  }
}

.caloperator1 {
  background-color: var(--color-keyboard);
}

.caloperator2 {
  background-color: var(--color-keyboard);
}

.caloperator3 {
  background-color: var(--color-keyboard);
}

.caloperator4 {
  background-color: var(--color-keyboard);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-container);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #62626294;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover);
}